@charset "UTF-8";
/* /css/login.css */

/* 상단 로고 */
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 8rem 10px 20px 10px;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
}

#main-icon {
	width: 40px;
	height: 40px;
}

/* 로그인 카드 */
.login-card {
	max-width: 400px;
	margin: 20px auto;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
}

.login-card h2 {
	margin-bottom: 1rem;
}

#login-logo {
	width: 60%;
	margin: 0 auto 1.5rem auto;
	display: block;
}

.login-icon {
	width: 7%;
}

/* 소셜 버튼 */
.btn-social {
	width: 100%;
	margin-bottom: 1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 10px 16px;
	text-decoration: none;
	border-radius: 0.375rem;
	border: none;
}

/* 기본 상태: 색 없음 */
.btn-outline-secondary {
    border-color: #6c757d; 
    color: #6c757d; 
    background-color: transparent; 
}

/* 마우스를 올렸을 때 */
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; 
}

/* 반응형: 768px 이하 (모바일) */
@media ( max-width : 768px) {
	.login-card {
		width: 90%;
		padding: 20px;
	}
	#login-logo {
		width: 120px;
		margin-bottom: 25px;
	}
	.btn-social {
		padding: 12px;
		font-size: 1rem;
	}
	.login-icon {
		width: 24px;
		height: 24px;
	}
	.logo {
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 0;
	}
}