@charset "UTF-8";

/* /css/maingrid.css */
#mainCarousel {
	width: 55%;
	margin: 2rem auto;
	border-radius: 1rem;
	overflow: hidden;
}

@media ( max-width : 1200px) {
	#mainCarousel {
		width: 70%;
	}
}

@media ( max-width : 768px) {
	#mainCarousel {
		width: 92%;
	}
}

#mainCarousel .carousel-item img {
	width: 100%;
	height: auto;
	display: block;
}

#mainCarousel .carousel-control-prev, #mainCarousel .carousel-control-next
	{
	opacity: .75;
}

#mainCarousel:hover .carousel-control-prev, #mainCarousel:hover .carousel-control-next
	{
	opacity: 1;
}