@charset "UTF-8";

/* /css/sale.css */

.form-container {
	max-width: 700px;
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	margin-left: 10rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05);
}

.image-uploader {
	width: 100px;
	height: 100px;
	border: 1px dashed #ced4da;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #f8f9fa;
}

.image-uploader:hover {
	border-color: #0d6efd;
}
.list-group-item img{
	display: none;
}
.list-group-item.active img{
	display: block;
}
.category-select .list-group-item.active{
	background-color: #ff7c8a; 
	color: #fff; 
	font-weight: bold;
	border-color: #ff7c8a; 
	border-left: 3px solid #ff3c4a;
}

.btn-check:checked+.btn-outline-secondary, .form-check-input:checked {
	background-color: #198754;
	color: white;
	border-color: #198754;
}

.form-control, .input-group-text {
	border-radius: 0.5rem;
}

.preview-wrapper {
	width: 80px;
	height: 80px;
	position: relative;
}

.preview-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	border: 1px solid #ced4da;
}

.preview-wrapper button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.2rem 0.4rem;
	font-size: 0.8rem;
	line-height: 1;
}

.form-control::placeholder {
	color: #adb5bd;
	font-style: italic;
}

@media ( max-width : 576px) {
	.form-container {
		padding: 2rem 1.5rem;
	}
}