<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subak.example.subak.dao.TransactionDAO">
<insert id="createTransaction" parameterType = "subak.example.subak.domain.TransactionDTO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	insert into transaction (price, created_at, user_id, item_id)
	values (#{price}, sysdate, #{userId}, #{itemId})
</insert>
</mapper>