@charset "UTF-8";

.offcanvas-footer { 
	padding: 1rem; 
	text-align: center; 
	color: #6c757d; 
	font-size: 0.875rem; 
}
.address-item { 
	padding: 1.25rem; 
	border: 1px solid #dee2e6; 
	border-radius: 0.5rem; 
	margin-bottom: 1rem; 
	transition: all 0.2s ease-in-out; 
}
.address-item.is-default { 
	border-color: #0d6efd; 
}
.form-control:focus, .btn-check:focus+.btn, .btn:focus { 
	box-shadow: none; 
}
.bottom-fixed-btn { 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	padding: 1rem; 
	background-color: #fff; 
}
.btn-delete { 
	position: absolute ; 
	top: -10px; 
	right: -10px; 
	width: 24px; 
	height: 24px; 
	border-radius: 50%; 
	background-color: #dc3545; 
	color: white; 
	border: 2px solid white; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	line-height: 1; 
	font-weight: bold; 
	z-index: 10; 
}
