@charset "UTF-8";

    .offcanvas-footer {
        padding: 1rem;
        text-align: center;
        color: #6c757d;
        font-size: 0.875rem;
    }
    .address-item {
        padding: 1.25rem;
        border: 1px solid #dee2e6;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    .address-item.is-default {
        border-color: #0d6efd; /* 기본 배송지일 경우 테두리 강조 */
    }
    .form-control:focus, .btn-check:focus+.btn, .btn:focus {
        box-shadow: none;
    }
    .bottom-fixed-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background-color: #fff;
    }
    .offcanvas.offcanvas-end {
  		width: 700px !important;
  		max-width: 100%;
	}