@charset "UTF-8";

/* 알림 항목 스타일 */
.notification-item {
	display: flex;
	align-items: center;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid #dee2e6;
	transition: background-color 0.2s ease-in-out;
}

.notification-item:hover {
	background-color: #f8f9fa; /* 마우스를 올렸을 때 배경색 */
}

/* 새 알림 스타일 */
.notification-item.is-new {
	background-color: #fceae8; /* 새 알림일 경우 눈에 띄는 배경색 */
}

.notification-item img {
	width: 100px;
	height: 100px;
	border-radius: 0.5rem;
	object-fit: cover;
	margin-right: 1rem;
}

.notification-item .notification-content {
	flex-grow: 1; /* 내용이 남은 공간을 모두 차지하도록 */
}

.notification-item .notification-content p {
	margin: 0;
	font-size: 0.9rem;
	color: #6c757d;
}

.notification-item .notification-content strong {
	color: #212529;
}

/* 닫기 버튼은 링크 클릭에 방해되지 않도록 z-index 설정 */
.notification-item .btn-close {
	z-index: 2;
}

#notificationOffcanvas {
  width: 500px !important;
  max-width: 100%;
}
